extends ./layaut.jade

block contenido
	div.container
		h1 Bienvenidos a mi primera pagina
		a(class="btn btn-primary" href="/login") Iniciar Sesion
		br
		br
		a(class="btn btn-primary" href="/suma") Sumar

