extends ./layaut.jade
block contenido
	form(action="/users", method="POST")
		div(class = "container form-group")
			br
			label(for="email") Email
			input(type="text", name="email", placeholder="Email", id="email", class="form-control")
			br
			label(for="password") Password
			input(type="password", name="password", placeholder="password", id="password", class="form-control")
			br
			input(type="submit" value="Iniciar Sesion" class="btn btn-primary")